body{
	margin: 0;
	font-family: 'Playfair Display', serif;
	font-size: 15px;
	line-height: 1.6;
	color: #333;
}

*,
*:before,
*:after {
	margin: 0;
	box-sizing:  border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin 0;
}

/* Container */
.container {
	width: 100%;
	max-width: 1200px;
	margin:  0 auto;
} 

/* Intro */
.intro {
	width: 100%;
	height: 100vh;

	background: url("../images/intro_DDDDDark.jpg") center no-repeat;
	-webkit-background-size:  cover;
	background-size: cover;
} 

.intro_inner {
	width: 100%;
	max-width: 1200px;
	margin:  0 auto;
}

.intro_title {
	font-size: 150px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1;
	color: #fff;
	padding-top: 275px;
} 

.btn {
	max-width: 100px;
	font-size: 40px;
	margin:  70px 600px;
	color: #fff;
	text-decoration: none;
	position: absolute;
	align-items: center;
}


/*.intro_subtitle {
	font-size: 65px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: centre;
	line-height: 1;
	color: #fff;
}*/

/* Header */
.header {
	width: 100%;
	padding-top: 10px;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
} 

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	flex-grow:1;
}

/* Nav */
.nav {
	font-size: 14px;
	text-transform: uppercase;
}

.nav_link {
	display: inline-block;
	vertical-align: top;
	margin: 5px 15px;

	color:  #C0C0C0;
	text-decoration: none;

	transition:  color 0.2s linear;
	cursor: pointer;
	position: relative;
}

.nav_link:after {
	content:  "";
	display: block;
	position: absolute;
	right:  0;
	bottom: -3px;
	width: 0;
	height: 2px;
	background-color: #fff;
	transition: width 0.5s;
}

.nav_link:hover {
	color:  #fff;
}

.nav_link:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; 
    background-color: #fff; 
    transition: width 0.5s;
}

/* Section */
.section {
	padding:  120px 0;
	/*background-color: #f6f6f6;*/
}

.section_header {
	with:  100%;
	max-width: 950;
	margin:  0 auto 40px;

	text-align: center;
}

.section_suptitle {
	font-size: 24px;
	color: #333;
}

.section_title {
	font-size: 30px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}

.section_text {
	margin-top:  30px;
	font-size: 15px;
	color: #999;
}

.section_stat {

}

/* Signature */

.signature {
	margin: 75px 494px;
}

/* About */

.about {
	margin: 0 -190px;
}

/* map */

.map {
	margin: 0 ;
}

.map_link {
	margin: 0 540px;
	font-size: 20px;
	text-transform: uppercase;
	color:#000000;
	text-decoration: none;
}
.map_point {
	margin: 0 580px;
	font-size: 20px;
	color:#000000;
	text-decoration: none;
}

/* Footer */
.footer {
	padding: 65px;

	background: #f8f8f8
}

.footer__logo {
	margin: 0 452px;
	font-size: 40px;
	font-weight: 700;
	color: #ccc;
}

/* Copyright */
.copyright {
	border-top: 1px solid #e5e5e5;
	padding-top: 20px 0px;
	font-size: 14px;
	color: #00000;
	text-align: center;
}






/* Reviews */
/*.reviews {
	background: url("../images/reviews.jpg") center no-repeat;
	background-size: cover;
	-webkit-background-size: 100%
	width: 100%;
	max-width: 100%;
	height: 100vh;
}*/
